<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<style>

    body {
        align-items: center;
    }

</style>


    <button onclick="borrar_todo()">Borrar todo</button>

    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Clave</td>
                <td>Primera Conexión</td>
                <td>Última Conexión</td>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.0 }}</td>
                <td>{{ user.1 }}</td>
                <td> <p id="p_clave{{ user.0 }}"></p> </td>
                <td>{{ user.3 }}</td>
                <td>{{ user.4 }}</td>
                <td><a href="/manage_users/edit{{ user.0 }}">editar</a></td>
                <td><a href="/manage_users/delete{{ user.0 }}">eliminar</a></td>
                <td> <button onclick="mostrar_clave('{{ user.0 }}', '{{ user.2 }}')" id="td_clave{{ user.0 }}"> Mostrar/Ocultar clave</button> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>

        var se_mostro_clave = false;
        var id_mostro_clave = null;

        function borrar_todo() {
            document.write("")
        }

        function mostrar_clave(id, clave) {
            let p_clave = document.getElementById("p_clave" + id);

            if (! se_mostro_clave) {
                p_clave.textContent = "" + clave;

                se_mostro_clave = true;
                id_mostro_clave = id;

            } else {

                p_clave = document.getElementById("p_clave" + id_mostro_clave)

                p_clave.textContent = "";

                se_mostro_clave = false;

            }

        }
    </script>
    
</body>
</html>