{% extends './base_menu_user.html' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<div class="container">
  <header class="hack-effect">
    <h1>Bienvenido, <span translate="no" style="color: #e00;">{{ username }}</span></h1>
  </header>

  <div class="menu-container">
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon" style="color: aliceblue; background-color: #000;">&#9776;</label>
    <ul class="menu" style="border-color: #f00; background-color: #000;">
      <li><button onclick="click_settings()" class="btn_menu" id="btn_settings">Configuración</button></li>
      <li><button onclick="change_color_theme()" class="btn_child_menu btn_menu" id="btn_change_color_theme">Cambiar Tema</button></li>
      <li><button onclick="go_menu_friends()" class="btn_menu">Amigos</button></li>
      <li><button class="btn_menu">Otros</button></li>
      <li><button onclick="go_logout()" class="btn_menu">Cerrar Sesión</button></li>
    </ul>
  </div>

  <main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h3 class="flash-messages">{{ message }}</h3>
    {% endfor %}
    {% endif %}
    {%endwith%}

    <button onclick="go_chat_public()" class="button-chat">Chat Público</button>
    <button onclick="go_menu_private_chats()" class="button-chat">Chat Privado</button>
  </main>
</div>
{% endblock %}
