{% extends './base_menu_friends.html' %}

{% block title %} Menú de Amigos {% endblock %}


{% block body %}

<div class="menu-container">


  <h1 style="color: #0f0;">Menú de Amigos</h1>

  <!-- Enviar solicitud de amistad -->
  <div class="menu-item">
    <button onclick="showSendRequestForm()">Enviar Solicitud de Amistad</button>
  </div>

  <!-- Aceptar solicitud de amistad -->
  <div class="menu-item">
    <button onclick="go_friend_requests()">Solicitudes de Amistad {% if number_of_requests_for_me %}<span style="color:#000; padding: 5px ;background-color: #0f0; border-radius: 2px; font-size: large;"><b>+{{ number_of_requests_for_me }}</b></span>{% endif %}</button>
  </div>

  <!-- Lista de amigos -->
  <div class="friends-list">
    <h2 style="color: #0f0;">Lista de Amigos</h2>
    {% if friends_list %}
    
    {% for friend in friends_list %}
    <div class="friend" style="border-color: #00f; color: #00f;">
      {% if username == friend.1 %}
        {{ friend.2 }}
        {% else %}
        {{ friend.1 }}

      {% endif %}
      <button class="delete-button" onclick="showConfirmation('{{ friend.0 }}')">🗑️</button>
    </div>
    {% endfor %}

    {% endif %}
</div>

<!-- Cuadro de confirmación -->
<div class="confirm-box" id="confirmBox">
  <p>¿Estás seguro de eliminar esta amistad?</p>
  <button class="confirm" onclick="deleteFriend()">Confirmar</button>
  <button class="cancel" onclick="hideConfirmation()">Cancelar</button>
</div>

<!-- Formulario de enviar solicitud de amistad -->
<div class="send-request-form" id="sendRequestForm">
  <button class="close-button" onclick="closeSendRequestForm()">X</button>
  <br>
  <h2>Enviar Solicitud de Amistad</h2>
  <form action="/user_page/friends/requests/send" method="post">
    <input type="text" id="friendName" name="friend_name" placeholder="Nombre del amigo" required>
    <button type="submit">Enviar</button>
  </form>
</div>


{% with messages = get_flashed_messages() %}
{% if messages %}

<!-- Ventana modal-->
<div class="modal" id="modal">

  <div class="modal-content">
    
    {% for message in messages %}
    <h3 id="flash-messages">{{ message }}</h3>
    {% endfor %}

    <div class="modal-buttons">
      <button onclick="closeModal()">Cerrar</button>
    </div>
  </div>
</div>

{% endif %}
{%endwith%}

{% endblock %}
