{% extends './base_login-register.html' %}

{% block title %} Registrarse {% endblock %}

{% block body %}
<div class="form-container">
  
    <h1>Registrarse</h1>

    <form id="userForm" method="POST">
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
        {% endif %}
        {%endwith%}
        
        <label for="nickname" id="nickname" >Nombre de usuario
        (no pongas tu nombre real):</label>
        <br>
        <input type="text" name="username" required>
        <br>

        <label for="user_password">Tu contraseña</label>
        <br>
        <input type="password" name="user_password" required>
        <br>

        <label for="password">Contraseña de acceso al servidor y sus funciones</label>
        <br>
        <input type="password" name="server_password">
        <br>

        <label for="remember" id="lbl_remember">Recordarme? </label>
        <input type="checkbox" name="remember" id="remember">
        <br>

        <button type="submit" class="btn_go">Ingresar</button>
    </form>

</div>
{% endblock %}
